@import '@styles/mixins';
@import '@styles/variables';

.blogLinks {
    display: flex;
    gap: 30px;
}

.blogLink {
    @include link(#cce4e4);
    cursor: pointer;

    &.active {
        background-color: rgba($color-blue, 0.2);
    }
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.article {
    background-color: rgba($color-white, 0.4);
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 200px;

    &Text {
        flex-grow: 1;
    }

    &Date {
        font-size: 12px;
        color: grey;
    }

    &Link {
        color: green;
        position: relative;
        transition: 0.2s;
        width: fit-content;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            transition: 0.3s;
            opacity: 0;
        }

        &:hover {
            color: darkgreen;
            transition: 0.2s;

            &::after {
                width: 100%;
                border-bottom: 1px solid green;
                opacity: 1;
                transition: 0.3s;
            }
        }
    }
}

.post {
    padding: 0 30px;
    flex-grow: 1;
}

.tags {
    display: flex;
    gap: 5px;
}

.tag {
    font-weight: 700;
    background-color: pink;
    padding: 3px;
    border-radius: 7px;
}
