@import '@styles/mixins';
@import '@styles/variables';

.nav {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
    margin-bottom: 30px;

    &Link {
        @include link(#c5dac8);
        margin-right: 20px;

        &.active {
            @include link(#bea19c);
            margin-right: 20px;
            border: 2px dashed #c0796c;
        }
    }
}
