@mixin link($background-color: #979797) {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba($background-color, 0.5);
    // border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border: 1px solid darken($background-color, 20%);
    border-radius: var(--border-radius);
}
