@import '@styles/mixins';

.main {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    // width: 100%;
}

.code {
    font-weight: 700;
    font-family: var(--font-mono);
}

/* Enable hover only on non-touch devices */

/* Mobile */
@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }

    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        max-width: 320px;
        text-align: center;
    }

    .card {
        padding: 1rem 2.5rem;

        h2 {
            margin-bottom: 0.5rem;
        }
    }

    .center {
        padding: 8rem 0 6rem;

        &::before {
            transform: none;
            height: 300px;
        }
    }

    .description {
        font-size: 0.8rem;

        p {
            align-items: center;
            inset: 0 0 auto;
            padding: 2rem 1rem 1.4rem;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
            background: linear-gradient(
                to bottom,
                rgba(var(--background-start-rgb), 1),
                rgba(var(--callout-rgb), 0.5)
            );
            background-clip: padding-box;
            backdrop-filter: blur(24px);
        }

        div {
            align-items: flex-end;
            pointer-events: none;
            inset: auto 0 0;
            padding: 2rem;
            height: 200px;
            background: linear-gradient(
                to bottom,
                transparent 0%,
                rgb(var(--background-end-rgb)) 40%
            );
            z-index: 1;
        }
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (prefers-color-scheme: dark) {
    .logo {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
