@import '@styles/mixins';
@import '@styles/variables';

.blog {
    flex-grow: 1;
    width: 100%;
    max-width: 1000px;
}

.tag {
    margin: 20px;
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    margin-right: 10px;
}

.post {
    table {
        border-spacing: 1px;
    }
    td {
        border: 1px solid grey;
        margin: 0;
    }

    [class='wide-spacing'] {
        letter-spacing: 2px;
    }

    [class*='needs-clarification'] {
        position: relative;
        border: 1px dashed grey;
        background-color: lightyellow;

        &::after {
            content: '?';
            font-size: 10px;
            font-weight: 700;
            color: white;
            text-align: center;
            position: absolute;
            right: -6px;
            top: -6px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: black;
        }
    }

    blockquote {
        position: relative;

        p {
            padding: 30px;
            font-style: italic;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            border-left: 5px solid grey;
            height: 100%;
        }
    }
}
