@import '@styles/mixins';
@import '@styles/variables';

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
}

.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;

    span:first-child {
        font-weight: 600;
        margin-bottom: 0.7rem;
    }
    span {
        display: inline-block;
        transition: transform 200ms;
    }

    p {
        margin: 0;
        opacity: 0.6;
        font-size: 0.9rem;
        line-height: 1.5;
        max-width: 30ch;
    }
}

@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);

        span {
            transform: translateX(4px);
        }
    }
}

@media (prefers-reduced-motion) {
    .card:hover span {
        transform: none;
    }
}
